{
	"tabWidth": 3,
	"semi": true,
	"arrowParens": "always",
	"printWidth": 200,
	"trailingComma": "none",
	"singleQuote": true,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"useTabs": true
}
